<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="Microkernel" type="JCsTools.Core.Configuration.MicrokernelSection, Jcq.Core" />

  </configSections>

  <Microkernel>
    <References>
      <clear />
      <!-- Kernel Services -->
      <add InterfaceType="JCsTools.Core.Interfaces.Exceptions.IExceptionService, Jcq.Core.Contracts"
           MappingType="JCsTools.Core.Exceptions.ExceptionService, Jcq.Core" />
      <!--<add InterfaceType="JCsTools.Core.Interfaces.IActivityManager, JCsTools.Core.Interfaces" MappingType="JCsTools.Core.ActivityManager, JCsTools.Core" />-->
      <add InterfaceType="JCsTools.Core.Interfaces.ILoggingService, Jcq.Core.Contracts"
           MappingType="JCsTools.Core.LoggingService, Jcq.Core" />
      <!-- Icq Implementation Services -->
      <add InterfaceType="JCsTools.JCQ.IcqInterface.Interfaces.IIconService, Jcq.IcqProtocol.Contracts"
           MappingType="JCsTools.JCQ.IcqInterface.IcqIconService, Jcq.IcqProtocol" />
      <add InterfaceType="JCsTools.JCQ.IcqInterface.Interfaces.IConnector, Jcq.IcqProtocol.Contracts"
           MappingType="JCsTools.JCQ.IcqInterface.IcqConnector, Jcq.IcqProtocol" />
      <add InterfaceType="JCsTools.JCQ.IcqInterface.IIcqDataTranferService, Jcq.IcqProtocol"
           MappingType="JCsTools.JCQ.IcqInterface.IcqConnector, Jcq.IcqProtocol" />
      <add InterfaceType="JCsTools.JCQ.IcqInterface.Interfaces.IDataWarehouseService, Jcq.IcqProtocol.Contracts"
           MappingType="JCsTools.JCQ.IcqInterface.IcqDataWarehouse, Jcq.IcqProtocol" />
      <add InterfaceType="JCsTools.JCQ.IcqInterface.Interfaces.IMessageService, Jcq.IcqProtocol.Contracts"
           MappingType="JCsTools.JCQ.IcqInterface.IcqMessageService, Jcq.IcqProtocol" />
      <add InterfaceType="JCsTools.JCQ.IcqInterface.Interfaces.IOfflineMessageService, Jcq.IcqProtocol.Contracts"
           MappingType="JCsTools.JCQ.IcqInterface.IcqMessageService, Jcq.IcqProtocol" />
      <add InterfaceType="JCsTools.JCQ.IcqInterface.Interfaces.INotificationService, Jcq.IcqProtocol.Contracts"
           MappingType="JCsTools.JCQ.IcqInterface.IcqNotificationService, Jcq.IcqProtocol" />
      <add InterfaceType="JCsTools.JCQ.IcqInterface.Interfaces.IStorageService, Jcq.IcqProtocol.Contracts"
           MappingType="JCsTools.JCQ.IcqInterface.IcqStorageService, Jcq.IcqProtocol" />
      <add InterfaceType="JCsTools.JCQ.IcqInterface.Interfaces.IUserInformationService, Jcq.IcqProtocol.Contracts"
           MappingType="JCsTools.JCQ.IcqInterface.IcqUserInformationService, Jcq.IcqProtocol" />
      <add InterfaceType="JCsTools.JCQ.IcqInterface.Interfaces.ISearchService, Jcq.IcqProtocol.Contracts"
           MappingType="JCsTools.JCQ.IcqInterface.IcqSearchService, Jcq.IcqProtocol" />
      <add InterfaceType="JCsTools.JCQ.IcqInterface.Interfaces.IPrivacyService, Jcq.IcqProtocol.Contracts"
           MappingType="JCsTools.JCQ.IcqInterface.IcqPrivacyService, Jcq.IcqProtocol" />
      <add InterfaceType="JCsTools.JCQ.IcqInterface.Interfaces.IUsageReportService, Jcq.IcqProtocol.Contracts"
           MappingType="JCsTools.JCQ.IcqInterface.IcqUsageReportService, Jcq.IcqProtocol" />

    </References>
  </Microkernel>

</configuration>