<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="Microkernel" type="Jcq.Core.Configuration.MicrokernelSection, Jcq.Core" />
  </configSections>

  <Microkernel>
    <References>
      <clear />
      <!-- Kernel Services -->
      <add InterfaceType="Jcq.Core.Contracts.Exceptions.IExceptionService, Jcq.Core.Contracts"
           MappingType="Jcq.Core.Exceptions.ExceptionService, Jcq.Core" />
      <!--<add InterfaceType="Jcq.Core.Contracts.IActivityManager, Jcq.Core.Contracts" MappingType="Jcq.Core.ActivityManager, Jcq.Core" />-->
      <add InterfaceType="Jcq.Core.Contracts.ILoggingService, Jcq.Core.Contracts"
           MappingType="Jcq.Core.LoggingService, Jcq.Core" />
      <!-- Icq Implementation Services -->
      <add InterfaceType="Jcq.IcqProtocol.Contracts.IIconService, Jcq.IcqProtocol.Contracts"
           MappingType="Jcq.IcqProtocol.IcqIconService, Jcq.IcqProtocol" />
      <add InterfaceType="Jcq.IcqProtocol.Contracts.IConnector, Jcq.IcqProtocol.Contracts"
           MappingType="Jcq.IcqProtocol.IcqConnector, Jcq.IcqProtocol" />
      <add InterfaceType="Jcq.IcqProtocol.IIcqDataTranferService, Jcq.IcqProtocol"
           MappingType="Jcq.IcqProtocol.IcqConnector, Jcq.IcqProtocol" />
      <add InterfaceType="Jcq.IcqProtocol.Contracts.IDataWarehouseService, Jcq.IcqProtocol.Contracts"
           MappingType="Jcq.IcqProtocol.IcqDataWarehouse, Jcq.IcqProtocol" />
      <add InterfaceType="Jcq.IcqProtocol.Contracts.IMessageService, Jcq.IcqProtocol.Contracts"
           MappingType="Jcq.IcqProtocol.IcqMessageService, Jcq.IcqProtocol" />
      <add InterfaceType="Jcq.IcqProtocol.Contracts.IOfflineMessageService, Jcq.IcqProtocol.Contracts"
           MappingType="Jcq.IcqProtocol.IcqMessageService, Jcq.IcqProtocol" />
      <add InterfaceType="Jcq.IcqProtocol.Contracts.INotificationService, Jcq.IcqProtocol.Contracts"
           MappingType="Jcq.IcqProtocol.IcqNotificationService, Jcq.IcqProtocol" />
      <add InterfaceType="Jcq.IcqProtocol.Contracts.IStorageService, Jcq.IcqProtocol.Contracts"
           MappingType="Jcq.IcqProtocol.IcqStorageService, Jcq.IcqProtocol" />
      <add InterfaceType="Jcq.IcqProtocol.Contracts.IUserInformationService, Jcq.IcqProtocol.Contracts"
           MappingType="Jcq.IcqProtocol.IcqUserInformationService, Jcq.IcqProtocol" />
      <add InterfaceType="Jcq.IcqProtocol.Contracts.ISearchService, Jcq.IcqProtocol.Contracts"
           MappingType="Jcq.IcqProtocol.IcqSearchService, Jcq.IcqProtocol" />
      <add InterfaceType="Jcq.IcqProtocol.Contracts.IPrivacyService, Jcq.IcqProtocol.Contracts"
           MappingType="Jcq.IcqProtocol.IcqPrivacyService, Jcq.IcqProtocol" />
      <add InterfaceType="Jcq.IcqProtocol.Contracts.IUsageReportService, Jcq.IcqProtocol.Contracts"
           MappingType="Jcq.IcqProtocol.IcqUsageReportService, Jcq.IcqProtocol" />
      <add InterfaceType="Jcq.IcqProtocol.Contracts.IRateLimitsService, Jcq.IcqProtocol.Contracts"
           MappingType="Jcq.IcqProtocol.IcqRateLimitsService, Jcq.IcqProtocol" />
    </References>
  </Microkernel>

</configuration>