<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <section name="Microkernel" type="JCsTools.Core.Configuration.MicrokernelSection, JCsTools.Core"/>
    </configSections>
    <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
        <listeners>
            <add fileName="trace.log" header="----------------------------------------" footer="----------------------------------------" formatter="Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="FlatFile TraceListener"/>
        </listeners>
        <formatters>
            <add template="Timestamp: {timestamp}
Message: {message}
Category: {category}
Priority: {priority}
EventId: {eventid}
Severity: {severity}
Title:{title}
Machine: {machine}
Application Domain: {appDomain}
Process Id: {processId}
Process Name: {processName}
Win32 Thread Id: {win32ThreadId}
Thread Name: {threadName}
Extended Properties: {dictionary({key} - {value}
)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Text Formatter"/>
        </formatters>
        <categorySources>
            <add switchValue="All" name="ActivityManager">
                <listeners>
                    <add name="FlatFile TraceListener"/>
                </listeners>
            </add>
            <add switchValue="All" name="General">
                <listeners>
                    <add name="FlatFile TraceListener"/>
                </listeners>
            </add>
        </categorySources>
        <specialSources>
            <allEvents switchValue="All" name="All Events"/>
            <notProcessed switchValue="All" name="Unprocessed Category"/>
            <errors switchValue="All" name="Logging Errors &amp; Warnings">
                <listeners>
                    <add name="FlatFile TraceListener"/>
                </listeners>
            </errors>
        </specialSources>
    </loggingConfiguration>
    <Microkernel>
        <References>
            <clear/>
            <!-- Kernel Services -->
            <add InterfaceType="JCsTools.Core.Interfaces.Exceptions.IExceptionService, JCsTools.Core.Interfaces" MappingType="JCsTools.Core.Exceptions.ExceptionService, JCsTools.Core"/>
            <add InterfaceType="JCsTools.Core.Interfaces.IActivityManager, JCsTools.Core.Interfaces" MappingType="JCsTools.Core.ActivityManager, JCsTools.Core"/>
            <add InterfaceType="JCsTools.Core.Interfaces.ILoggingService, JCsTools.Core.Interfaces" MappingType="JCsTools.Core.LoggingService, JCsTools.Core"/>
            <!-- Icq Implementation Services -->
            <add InterfaceType="JCsTools.JCQ.IcqInterface.Interfaces.IIconService, JCsTools.JCQ.IcqInterface.Interfaces" MappingType="JCsTools.JCQ.IcqInterface.IcqIconService, JCsTools.JCQ.IcqInterface"/>
            <add InterfaceType="JCsTools.JCQ.IcqInterface.Interfaces.IConnector, JCsTools.JCQ.IcqInterface.Interfaces" MappingType="JCsTools.JCQ.IcqInterface.IcqConnector, JCsTools.JCQ.IcqInterface"/>
            <add InterfaceType="JCsTools.JCQ.IcqInterface.IIcqDataTranferService, JCsTools.JCQ.IcqInterface" MappingType="JCsTools.JCQ.IcqInterface.IcqConnector, JCsTools.JCQ.IcqInterface"/>
            <add InterfaceType="JCsTools.JCQ.IcqInterface.Interfaces.IDataWarehouseService, JCsTools.JCQ.IcqInterface.Interfaces" MappingType="JCsTools.JCQ.IcqInterface.IcqDataWarehouse, JCsTools.JCQ.IcqInterface"/>
            <add InterfaceType="JCsTools.JCQ.IcqInterface.Interfaces.IMessageService, JCsTools.JCQ.IcqInterface.Interfaces" MappingType="JCsTools.JCQ.IcqInterface.IcqMessageService, JCsTools.JCQ.IcqInterface"/>
            <add InterfaceType="JCsTools.JCQ.IcqInterface.Interfaces.IOfflineMessageService, JCsTools.JCQ.IcqInterface.Interfaces" MappingType="JCsTools.JCQ.IcqInterface.IcqMessageService, JCsTools.JCQ.IcqInterface"/>
            <add InterfaceType="JCsTools.JCQ.IcqInterface.Interfaces.INotificationService, JCsTools.JCQ.IcqInterface.Interfaces" MappingType="JCsTools.JCQ.IcqInterface.IcqNotificationService, JCsTools.JCQ.IcqInterface"/>
            <add InterfaceType="JCsTools.JCQ.IcqInterface.Interfaces.IStorageService, JCsTools.JCQ.IcqInterface.Interfaces" MappingType="JCsTools.JCQ.IcqInterface.IcqStorageService, JCsTools.JCQ.IcqInterface"/>
            <add InterfaceType="JCsTools.JCQ.IcqInterface.Interfaces.IUserInformationService, JCsTools.JCQ.IcqInterface.Interfaces" MappingType="JCsTools.JCQ.IcqInterface.IcqUserInformationService, JCsTools.JCQ.IcqInterface"/>
            <add InterfaceType="JCsTools.JCQ.IcqInterface.Interfaces.ISearchService, JCsTools.JCQ.IcqInterface.Interfaces" MappingType="JCsTools.JCQ.IcqInterface.IcqSearchService, JCsTools.JCQ.IcqInterface"/>
            </References>
    </Microkernel>
    <appSettings>
        <add key="OscarServer" value="login.icq.com"/>
        <add key="OscarPort" value="5190"/>
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
