<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="Microkernel" type="JCsTools.Core.Configuration.MicrokernelSection, JCsTools.Core"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="JCsTools.JCQ.Ux.WindowSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" filter="All" type="JCsTools.Core.DebugTraceListener, JCsTools.Core, Version=1.0.61121.4, Culture=neutral, PublicKeyToken=780d949e3aaf7e75" name="Debug Trace Listener" initializeData="" formatter="DebugFormatter"/>
      <add fileName="trace.log" header="----------------------------------------" footer="----------------------------------------" formatter="Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="FlatFile TraceListener"/>
    </listeners>
    <formatters>
      <add template="{timestamp}|{category}: {message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="DebugFormatter"/>
      <add template="Timestamp: {timestamp}
Message: {message}
Category: {category}
Priority: {priority}
EventId: {eventid}
Severity: {severity}
Title:{title}
Machine: {machine}
Application Domain: {appDomain}
Process Id: {processId}
Process Name: {processName}
Win32 Thread Id: {win32ThreadId}
Thread Name: {threadName}
Extended Properties: {dictionary({key} - {value}
)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Text Formatter"/>
    </formatters>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="FlatFile TraceListener"/>
          <add name="Debug Trace Listener"/>
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings"/>
    </specialSources>
  </loggingConfiguration>
  <Microkernel>
    <References>
      <clear/>
      <!-- Kernel Services -->
      <add InterfaceType="JCsTools.Core.Interfaces.Exceptions.IExceptionService, JCsTools.Core.Interfaces" MappingType="JCsTools.Core.Exceptions.ExceptionService, JCsTools.Core"/>
      <!--<add InterfaceType="JCsTools.Core.Interfaces.IActivityManager, JCsTools.Core.Interfaces" MappingType="JCsTools.Core.ActivityManager, JCsTools.Core" />-->
      <add InterfaceType="JCsTools.Core.Interfaces.ILoggingService, JCsTools.Core.Interfaces" MappingType="JCsTools.Core.LoggingService, JCsTools.Core"/>
      <!-- Icq Implementation Services -->
      <add InterfaceType="JCsTools.JCQ.IcqInterface.Interfaces.IIconService, JCsTools.JCQ.IcqInterface.Interfaces" MappingType="JCsTools.JCQ.IcqInterface.IcqIconService, JCsTools.JCQ.IcqInterface"/>
      <add InterfaceType="JCsTools.JCQ.IcqInterface.Interfaces.IConnector, JCsTools.JCQ.IcqInterface.Interfaces" MappingType="JCsTools.JCQ.IcqInterface.IcqConnector, JCsTools.JCQ.IcqInterface"/>
      <add InterfaceType="JCsTools.JCQ.IcqInterface.IIcqDataTranferService, JCsTools.JCQ.IcqInterface" MappingType="JCsTools.JCQ.IcqInterface.IcqConnector, JCsTools.JCQ.IcqInterface"/>
      <add InterfaceType="JCsTools.JCQ.IcqInterface.Interfaces.IDataWarehouseService, JCsTools.JCQ.IcqInterface.Interfaces" MappingType="JCsTools.JCQ.IcqInterface.IcqDataWarehouse, JCsTools.JCQ.IcqInterface"/>
      <add InterfaceType="JCsTools.JCQ.IcqInterface.Interfaces.IMessageService, JCsTools.JCQ.IcqInterface.Interfaces" MappingType="JCsTools.JCQ.IcqInterface.IcqMessageService, JCsTools.JCQ.IcqInterface"/>
      <add InterfaceType="JCsTools.JCQ.IcqInterface.Interfaces.IOfflineMessageService, JCsTools.JCQ.IcqInterface.Interfaces" MappingType="JCsTools.JCQ.IcqInterface.IcqMessageService, JCsTools.JCQ.IcqInterface"/>
      <add InterfaceType="JCsTools.JCQ.IcqInterface.Interfaces.INotificationService, JCsTools.JCQ.IcqInterface.Interfaces" MappingType="JCsTools.JCQ.IcqInterface.IcqNotificationService, JCsTools.JCQ.IcqInterface"/>
      <add InterfaceType="JCsTools.JCQ.IcqInterface.Interfaces.IStorageService, JCsTools.JCQ.IcqInterface.Interfaces" MappingType="JCsTools.JCQ.IcqInterface.IcqStorageService, JCsTools.JCQ.IcqInterface"/>
      <add InterfaceType="JCsTools.JCQ.IcqInterface.Interfaces.IUserInformationService, JCsTools.JCQ.IcqInterface.Interfaces" MappingType="JCsTools.JCQ.IcqInterface.IcqUserInformationService, JCsTools.JCQ.IcqInterface"/>
      <add InterfaceType="JCsTools.JCQ.IcqInterface.Interfaces.ISearchService, JCsTools.JCQ.IcqInterface.Interfaces" MappingType="JCsTools.JCQ.IcqInterface.IcqSearchService, JCsTools.JCQ.IcqInterface"/>
      <add InterfaceType="JCsTools.JCQ.IcqInterface.Interfaces.IPrivacyService, JCsTools.JCQ.IcqInterface.Interfaces" MappingType="JCsTools.JCQ.IcqInterface.IcqPrivacyService, JCsTools.JCQ.IcqInterface"/>
      <add InterfaceType="JCsTools.JCQ.IcqInterface.Interfaces.IUsageReportService, JCsTools.JCQ.IcqInterface.Interfaces" MappingType="JCsTools.JCQ.IcqInterface.IcqUsageReportService, JCsTools.JCQ.IcqInterface"/>
      <!-- ViewModel Services -->
      <add InterfaceType="JCsTools.JCQ.ViewModel.IContactContextMenuService, JCsTools.JCQ.ViewModel" MappingType="JCsTools.JCQ.Ux.ContactContextMenuService, JCsTools.JCQ.Ux"/>
      <add InterfaceType="JCsTools.JCQ.ViewModel.IContactHistoryService, JCsTools.JCQ.ViewModel" MappingType="JCsTools.JCQ.Ux.ContactHistoryService, JCsTools.JCQ.Ux"/>
      <add InterfaceType="JCsTools.JCQ.ViewModel.IContactWindowViewModelService, JCsTools.JCQ.ViewModel" MappingType="JCsTools.JCQ.Ux.ContactWindowViewModelService, JCsTools.JCQ.Ux"/>
      <add InterfaceType="JCsTools.JCQ.ViewModel.IMessageFormattingService, JCsTools.JCQ.ViewModel" MappingType="JCsTools.JCQ.Ux.MessageFormattingService, JCsTools.JCQ.Ux"/>
      <add InterfaceType="JCsTools.JCQ.ViewModel.INavigationService, JCsTools.JCQ.ViewModel" MappingType="JCsTools.JCQ.Ux.NavigationService, JCsTools.JCQ.Ux"/>
      <add InterfaceType="JCsTools.JCQ.ViewModel.IStatusService, JCsTools.JCQ.ViewModel" MappingType="JCsTools.JCQ.Ux.StatusService, JCsTools.JCQ.Ux"/>
    </References>
  </Microkernel>
  <appSettings>
    <add key="OscarServer" value="login.icq.com"/>
    <add key="OscarPort" value="5190"/>
  </appSettings>
  <userSettings>
    <JCsTools.JCQ.Ux.WindowSettings>
      <setting name="MainWindowWidth" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="MainWindowHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="MainWindowTop" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="MainWindowLeft" serializeAs="String">
        <value>20</value>
      </setting>
    </JCsTools.JCQ.Ux.WindowSettings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
