<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="loggingConfiguration"
             type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="dataConfiguration"
             type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="Microkernel" type="JCsTools.Core.Configuration.MicrokernelSection, Jcq.Core" />

  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory=""
                        logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        traceOutputOptions="None" filter="All"
        type="JCsTools.Core.DebugTraceListener, JCsTools.Core, Version=1.0.61121.4, Culture=neutral, PublicKeyToken=780d949e3aaf7e75"
        name="Debug Trace Listener" initializeData="" formatter="DebugFormatter" />
      <add fileName="trace.log" header="----------------------------------------"
           footer="----------------------------------------" formatter="Text Formatter"
           listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           traceOutputOptions="None" filter="All"
           type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           name="FlatFile TraceListener" />
    </listeners>
    <formatters>
      <add template="{timestamp}|{category}: {message}"
           type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           name="DebugFormatter" />
      <add
        template="Timestamp: {timestamp}
Message: {message}
Category: {category}
Priority: {priority}
EventId: {eventidentifier}
Severity: {severity}
Title:{title}
Machine: {machine}
Application Domain: {appDomain}
Process Id: {processId}
Process Name: {processName}
Win32 Thread Id: {win32ThreadId}
Thread Name: {threadName}
Extended Properties: {dictionary({key} - {value}
)}"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Text Formatter" />
    </formatters>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="FlatFile TraceListener" />
          <add name="Debug Trace Listener" />
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings" />
    </specialSources>
  </loggingConfiguration>
  <Microkernel>
    <References>
      <clear />
      <!-- Kernel Services -->
      <add InterfaceType="JCsTools.Core.Interfaces.Exceptions.IExceptionService, Jcq.Core.Contracts"
           MappingType="JCsTools.Core.Exceptions.ExceptionService, Jcq.Core" />
      <!--<add InterfaceType="JCsTools.Core.Interfaces.IActivityManager, JCsTools.Core.Interfaces" MappingType="JCsTools.Core.ActivityManager, JCsTools.Core" />-->
      <add InterfaceType="JCsTools.Core.Interfaces.ILoggingService, Jcq.Core.Contracts"
           MappingType="JCsTools.Core.LoggingService, Jcq.Core" />
      <!-- Icq Implementation Services -->
      <add InterfaceType="JCsTools.JCQ.IcqInterface.Interfaces.IIconService, Jcq.IcqProtocol.Contracts"
           MappingType="JCsTools.JCQ.IcqInterface.IcqIconService, Jcq.IcqProtocol" />
      <add InterfaceType="JCsTools.JCQ.IcqInterface.Interfaces.IConnector, Jcq.IcqProtocol.Contracts"
           MappingType="JCsTools.JCQ.IcqInterface.IcqConnector, Jcq.IcqProtocol" />
      <add InterfaceType="JCsTools.JCQ.IcqInterface.IIcqDataTranferService, Jcq.IcqProtocol"
           MappingType="JCsTools.JCQ.IcqInterface.IcqConnector, Jcq.IcqProtocol" />
      <add InterfaceType="JCsTools.JCQ.IcqInterface.Interfaces.IDataWarehouseService, Jcq.IcqProtocol.Contracts"
           MappingType="JCsTools.JCQ.IcqInterface.IcqDataWarehouse, Jcq.IcqProtocol" />
      <add InterfaceType="JCsTools.JCQ.IcqInterface.Interfaces.IMessageService, Jcq.IcqProtocol.Contracts"
           MappingType="JCsTools.JCQ.IcqInterface.IcqMessageService, Jcq.IcqProtocol" />
      <add InterfaceType="JCsTools.JCQ.IcqInterface.Interfaces.IOfflineMessageService, Jcq.IcqProtocol.Contracts"
           MappingType="JCsTools.JCQ.IcqInterface.IcqMessageService, Jcq.IcqProtocol" />
      <add InterfaceType="JCsTools.JCQ.IcqInterface.Interfaces.INotificationService, Jcq.IcqProtocol.Contracts"
           MappingType="JCsTools.JCQ.IcqInterface.IcqNotificationService, Jcq.IcqProtocol" />
      <add InterfaceType="JCsTools.JCQ.IcqInterface.Interfaces.IStorageService, Jcq.IcqProtocol.Contracts"
           MappingType="JCsTools.JCQ.IcqInterface.IcqStorageService, Jcq.IcqProtocol" />
      <add InterfaceType="JCsTools.JCQ.IcqInterface.Interfaces.IUserInformationService, Jcq.IcqProtocol.Contracts"
           MappingType="JCsTools.JCQ.IcqInterface.IcqUserInformationService, Jcq.IcqProtocol" />
      <add InterfaceType="JCsTools.JCQ.IcqInterface.Interfaces.ISearchService, Jcq.IcqProtocol.Contracts"
           MappingType="JCsTools.JCQ.IcqInterface.IcqSearchService, Jcq.IcqProtocol" />
      <add InterfaceType="JCsTools.JCQ.IcqInterface.Interfaces.IPrivacyService, Jcq.IcqProtocol.Contracts"
           MappingType="JCsTools.JCQ.IcqInterface.IcqPrivacyService, Jcq.IcqProtocol" />
      <add InterfaceType="JCsTools.JCQ.IcqInterface.Interfaces.IUsageReportService, Jcq.IcqProtocol.Contracts"
           MappingType="JCsTools.JCQ.IcqInterface.IcqUsageReportService, Jcq.IcqProtocol" />
      <!-- ViewModel Services -->
      <add InterfaceType="JCsTools.JCQ.ViewModel.IContactContextMenuService, Jcq.Ux.ViewModel"
           MappingType="JCsTools.JCQ.Ux.ContactContextMenuService,  Jcq.Ux.Main" />
      <add InterfaceType="JCsTools.JCQ.ViewModel.IContactHistoryService, Jcq.Ux.ViewModel"
           MappingType="JCsTools.JCQ.Ux.ContactHistoryService,  Jcq.Ux.Main" />
      <add InterfaceType="JCsTools.JCQ.ViewModel.IContactWindowViewModelService, Jcq.Ux.ViewModel"
           MappingType="JCsTools.JCQ.Ux.ContactWindowViewModelService,  Jcq.Ux.Main" />
      <add InterfaceType="JCsTools.JCQ.ViewModel.IMessageFormattingService, Jcq.Ux.ViewModel"
           MappingType="JCsTools.JCQ.Ux.MessageFormattingService,  Jcq.Ux.Main" />
      <add InterfaceType="JCsTools.JCQ.ViewModel.INavigationService, Jcq.Ux.ViewModel"
           MappingType="JCsTools.JCQ.Ux.NavigationService,  Jcq.Ux.Main" />
      <add InterfaceType="JCsTools.JCQ.ViewModel.IStatusService, Jcq.Ux.ViewModel"
           MappingType="JCsTools.JCQ.Ux.StatusService,  Jcq.Ux.Main" />
    </References>
  </Microkernel>
  <appSettings>
    <add key="OscarServer" value="login.icq.com" />
    <add key="OscarPort" value="5190" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>