<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="loggingConfiguration"
             type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="dataConfiguration"
             type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="Microkernel" type="Jcq.Core.Configuration.MicrokernelSection, Jcq.Core" />

  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory=""
                        logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        traceOutputOptions="None" filter="All"
        type="Jcq.Core.DebugTraceListener, Jcq.Core, Version=1.0.61121.4, Culture=neutral, PublicKeyToken=780d949e3aaf7e75"
        name="Debug Trace Listener" initializeData="" formatter="DebugFormatter" />
      <add fileName="trace.log" header="----------------------------------------"
           footer="----------------------------------------" formatter="Text Formatter"
           listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           traceOutputOptions="None" filter="All"
           type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           name="FlatFile TraceListener" />
    </listeners>
    <formatters>
      <add template="{timestamp}|{category}: {message}"
           type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           name="DebugFormatter" />
      <add
        template="Timestamp: {timestamp}
Message: {message}
Category: {category}
Priority: {priority}
EventId: {eventidentifier}
Severity: {severity}
Title:{title}
Machine: {machine}
Application Domain: {appDomain}
Process Id: {processId}
Process Name: {processName}
Win32 Thread Id: {win32ThreadId}
Thread Name: {threadName}
Extended Properties: {dictionary({key} - {value}
)}"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Text Formatter" />
    </formatters>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="FlatFile TraceListener" />
          <add name="Debug Trace Listener" />
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings" />
    </specialSources>
  </loggingConfiguration>
  <Microkernel>
    <References>
      <clear />
      <!-- Kernel Services -->
      <add InterfaceType="Jcq.Core.Contracts.Exceptions.IExceptionService, Jcq.Core.Contracts"
           MappingType="Jcq.Core.Exceptions.ExceptionService, Jcq.Core" />
      <!--<add InterfaceType="Jcq.Core.Contracts.IActivityManager, Jcq.Core.Contracts" MappingType="Jcq.Core.ActivityManager, Jcq.Core" />-->
      <add InterfaceType="Jcq.Core.Contracts.ILoggingService, Jcq.Core.Contracts"
           MappingType="Jcq.Core.LoggingService, Jcq.Core" />
      <!-- Icq Implementation Services -->
      <add InterfaceType="Jcq.IcqProtocol.Contracts.IIconService, Jcq.IcqProtocol.Contracts"
           MappingType="Jcq.IcqProtocol.IcqIconService, Jcq.IcqProtocol" />
      <add InterfaceType="Jcq.IcqProtocol.Contracts.IConnector, Jcq.IcqProtocol.Contracts"
           MappingType="Jcq.IcqProtocol.IcqConnector, Jcq.IcqProtocol" />
      <add InterfaceType="Jcq.IcqProtocol.IIcqDataTranferService, Jcq.IcqProtocol"
           MappingType="Jcq.IcqProtocol.IcqConnector, Jcq.IcqProtocol" />
      <add InterfaceType="Jcq.IcqProtocol.Contracts.IDataWarehouseService, Jcq.IcqProtocol.Contracts"
           MappingType="Jcq.IcqProtocol.IcqDataWarehouse, Jcq.IcqProtocol" />
      <add InterfaceType="Jcq.IcqProtocol.Contracts.IMessageService, Jcq.IcqProtocol.Contracts"
           MappingType="Jcq.IcqProtocol.IcqMessageService, Jcq.IcqProtocol" />
      <add InterfaceType="Jcq.IcqProtocol.Contracts.IOfflineMessageService, Jcq.IcqProtocol.Contracts"
           MappingType="Jcq.IcqProtocol.IcqMessageService, Jcq.IcqProtocol" />
      <add InterfaceType="Jcq.IcqProtocol.Contracts.INotificationService, Jcq.IcqProtocol.Contracts"
           MappingType="Jcq.IcqProtocol.IcqNotificationService, Jcq.IcqProtocol" />
      <add InterfaceType="Jcq.IcqProtocol.Contracts.IStorageService, Jcq.IcqProtocol.Contracts"
           MappingType="Jcq.IcqProtocol.IcqStorageService, Jcq.IcqProtocol" />
      <add InterfaceType="Jcq.IcqProtocol.Contracts.IUserInformationService, Jcq.IcqProtocol.Contracts"
           MappingType="Jcq.IcqProtocol.IcqUserInformationService, Jcq.IcqProtocol" />
      <add InterfaceType="Jcq.IcqProtocol.Contracts.ISearchService, Jcq.IcqProtocol.Contracts"
           MappingType="Jcq.IcqProtocol.IcqSearchService, Jcq.IcqProtocol" />
      <add InterfaceType="Jcq.IcqProtocol.Contracts.IPrivacyService, Jcq.IcqProtocol.Contracts"
           MappingType="Jcq.IcqProtocol.IcqPrivacyService, Jcq.IcqProtocol" />
      <add InterfaceType="Jcq.IcqProtocol.Contracts.IUsageReportService, Jcq.IcqProtocol.Contracts"
           MappingType="Jcq.IcqProtocol.IcqUsageReportService, Jcq.IcqProtocol" />
      <add InterfaceType="Jcq.IcqProtocol.Contracts.IRateLimitsService, Jcq.IcqProtocol.Contracts"
           MappingType="Jcq.IcqProtocol.IcqRateLimitsService, Jcq.IcqProtocol" />
      <!-- ViewModel Services -->
      <add InterfaceType="Jcq.Ux.ViewModel.Contracts.IContactContextMenuService, Jcq.Ux.ViewModel"
           MappingType="Jcq.Ux.Main.Services.ContactContextMenuService,  Jcq.Ux.Main" />
      <add InterfaceType="Jcq.Ux.ViewModel.Contracts.IContactHistoryService, Jcq.Ux.ViewModel"
           MappingType="Jcq.Ux.Main.Services.ContactHistoryService,  Jcq.Ux.Main" />
      <add InterfaceType="Jcq.Ux.ViewModel.Contracts.IContactWindowViewModelService, Jcq.Ux.ViewModel"
           MappingType="Jcq.Ux.Main.Services.ContactWindowViewModelService,  Jcq.Ux.Main" />
      <add InterfaceType="Jcq.Ux.ViewModel.Contracts.IMessageFormattingService, Jcq.Ux.ViewModel"
           MappingType="Jcq.Ux.Main.Services.MessageFormattingService,  Jcq.Ux.Main" />
      <add InterfaceType="Jcq.Ux.ViewModel.Contracts.INavigationService, Jcq.Ux.ViewModel"
           MappingType="Jcq.Ux.Main.Services.NavigationService,  Jcq.Ux.Main" />
      <add InterfaceType="Jcq.Ux.ViewModel.Contracts.IStatusService, Jcq.Ux.ViewModel"
           MappingType="Jcq.Ux.Main.Services.StatusService,  Jcq.Ux.Main" />
    </References>
  </Microkernel>
  <appSettings>
    <add key="OscarServer" value="login.icq.com" />
    <add key="OscarPort" value="5190" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>